NODE_ENV="development"
# Dev - Get a free database from https://neon.com/ and add the credentials here or use your local database using pgadmin
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/dsa-list
# Prod
DATABASE_URL="postgresql://username:password@host:port/database_name?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="somerandomstring"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
